name: my workflow

on:
  push:
    branches:
      - "main"
env:
  GLOBAL_VAR: "Global variable"
jobs:
  example-job:
    runs-on: ubuntu-latest
    env:
      JOB_VAR: "Job-level variable"

    steps:
      - name: Print Environment Variables
        env:
          STEP_VAR: "Step-level variable"
        run: |
          echo "Global: ${{ env.GLOBAL_VAR }}"
          echo "Job: ${{ env.JOB_VAR }}"
          echo "Step: ${{ env.STEP_VAR }}"
          echo "GitHub Repo: ${{ github.repository }}"
          echo "GitHub Ref: ${{ github.ref }}"
          echo "GitHub Actor: ${{ github.actor }}"
          echo "Docker Username: ${{ vars.DOCKERHUB_USERNAME }}"
          echo "Docker Username: ${{ secrets.DOCKERHUB_USERNAME }}"
          echo "Docker Password: ${{ secrets.DOCKERHUB_PASSWORD }}"